<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Urank Search</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/starter-template.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-tagsinput.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><em>Urank Search</em></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>Urank Search</h1>
        <p>A simple way to find out which are the top Universities in the world based on the research done by its faculty.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="#container term-display">Start the Search &raquo;</a></p>
      </div>
    </div>

    <!-- Add here , how to operate the website -->
    
      <div class="instructions">
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-lg-12">
              <h2>How to Search</h2>
              <p> Just select the terms which pertain to your domain and click Search. <br>Its that easy!!</p>
              </div> <!--end of column -->
          </div> <!-- end of row -->
        </div><!-- end of container -->
      </div> <!-- end of instructions class -->

      <!--  Add here the dynamically generated objects -->
      <div class="container term-display" id="container term-display">
        <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <span id="terms" ><h2>Select the terms</h2></span>
            <br>

            <div id="meshterms">  
              <select id="top_level_mesh_terms">
                <option value="NA" selected onclick="displaysubterm('NA')">Please select a Topic</option>
              </select>

              <br>
              
                <div class="row">
                  <br>
                  <input type="button" value="Add" id="addToList" class="btn btn-primary btn-md addbutton" role="button" onclick="addToList()">
                  <br>
                  <select id="second_level_mesh_terms">
                  <option value="NA" selected >Please select a subtopic</option>
                  </select>
                </div> <!-- end of second row -->
           
              <br>
              <div class="row">
                <div id="list">
                  <select multiple  id="selectedchoices" >

                  </select>
                </div>
              </div>
            </div><!-- end of top level meshterms display -->
           

            <div id="meshterms">       
            </div><!-- end of top level meshterms display -->
            <p><a class="btn btn-primary btn-lg" role="button" href="javascript:generateChart()">Generate Chart</a></p>

          </div> <!-- mesh terms options column end -->
        
        <div class="col-lg-8">          
          <div id="graph_display">
          <span id="Result"><h2>Top universities</h2></span>
          <div id="unichart" style="width: 100%; height: 400px;"></div>
          
          </div> 
        </div> <!-- graph visualization div end -->
      </div><!-- row end -->
      <div class="row">
        <div class="col-lg-12">
          <div id="tablepapers" style="width: 100%; height: 500px;"></div>
        </div><!-- end of class column of table -->
      </div><!-- end of second row -->
      </div><!-- container end -->
    </div>

    <div class="jumbotron">
      <div class="container">
        <!-- <p>end</p> -->
      </div>
    </div>
 


    <!-- Bootstrap core JavaScript ================================================== -->
    
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <script src="/javascripts/bootstrap-tagsinput.min.js"></script>


    <script src="/javascripts/urank.js"></script>
  </body>
</html>
